body {
  font-family: 'Poppins', sans-serif;
}

.jam {
  font-size: 4rem;
  font-weight: bold;
}

.row-sholat {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.slide {
  display: none;
}
.slide.active {
  display: block;
}

.slide-iqomah {
  display: none;
}
.slide-iqomah.active {
  display: block;
}


.iqomah-time {
  font-size: 6rem;
  font-weight: bold;
  color: #c00;
}

.marquee {
  font-size: 1.2rem;
  font-weight: 500;
}
