body {
  font-family: "Poppins", sans-serif;
  background-image: url(img/img.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* JAM UTAMA */
.jam {
  font-size: 5.5rem;
  letter-spacing: 2px;
}

/* ROW JADWAL SHOLAT */
.row-sholat {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  border-bottom: 1px solid #a1a1a1;
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

/* MARQUEE */
.marquee {
  font-weight: 500;
  font-size: clamp(1.1rem, 2vw, 1.4rem);
}

/* SLIDE UMUM */
.slide,
.slide-iqomah,
.slide-adzan {
  display: none;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  min-height: 200px;
  box-sizing: border-box;
}

/* ACTIVE */
.slide.active {
  display: block;
}

.slide-iqomah.active,
.slide-adzan.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
}

/* ANIMASI */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide.active,
.slide-iqomah.active,
.slide-adzan.active {
  animation: fadeIn 0.8s ease-in-out;
}

/* SLIDE JADWAL */
.slide {
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

/* SLIDE IQOMAH */
.slide-iqomah h2 {
  font-size: clamp(2rem, 4vw, 2.6rem);
  font-weight: 700;
  margin-bottom: 10px;
}

#iqomahCountdown {
  font-size: clamp(3rem, 6vw, 4rem);
  font-weight: bold;
  color: #a1a1a1;
}

/*  SLIDE ADZAN */
.slide-adzan h2 {
  font-size: clamp(1.8rem, 4vw, 2.4rem);
  font-weight: 700;
  margin-bottom: 8px;
}

.slide-adzan p {
  font-size: clamp(1.1rem, 2.5vw, 1.4rem);
  font-weight: 500;
  max-width: 80%;
  line-height: 1.4;
}

/* COUNTDOWN MENUJU SHOLAT */
#nextSholat {
  margin-top: 10px;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
}

#nextSholatCountdown {
  font-size: clamp(1.8rem, 4vw, 2.4rem);
  color: #000;
}

#nextSholatCountdown.countdown-warning {
  color: red;
  font-weight: 700;
  animation: blink 1s steps(1, start) infinite ;
}

@keyframes blink {

  50%  { 
    visibility: hidden;
   }

}

/* HIGHLIGHT SHOLAT BERIKUTNYA */
.row-sholat.next {
  background: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
}

/* PAGE */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CONTENT */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

/* FOOTER */
.footer-fixed {
  width: 100%;
  padding: 8px 20px;
  font-size: clamp(0.9rem, 1.8vw, 1.1rem);
  opacity: 0.9;
  margin-top: auto;
}

.footer-fixed marquee {
  margin-bottom: 5px;
}

.copyright {
  font-size: 0.8rem;
  opacity: 0.7;
  text-align: center;
}

.fade-soft {
  animation: fadeSoft 2s ease-in-out infinite alternate;
}

@keyframes fadeSoft {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
